<style>
  .white-text {
    color: #ffffff;
  }

  .color-toolbar {
    --background: #f04141;
  }

  .background-main {
    --background: #f9f9f9;
  }

  .background-white {
    --background: #ffffff;
  }
</style>

<ion-header>
  <ion-toolbar class="color-toolbar white-text">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Đăng ký</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-main ">
  <ion-card class="background-white">
    <!-- <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header> -->

    <ion-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Email *</ion-label>
          <ion-input formControlName="email" value="quanghungleo@gmail.com"></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.email.errors">
          <ion-note *ngIf="f.email.errors?.required" color="danger">Email không được để trống</ion-note>
          <ion-note *ngIf="f.email.errors?.pattern" color="danger">Email không hợp lệ</ion-note>
        </div>

        <ion-item>
          <ion-label position="floating">Mật khẩu *</ion-label>
          <ion-input type="password" formControlName="password" (ngModelChange)="checkPass($event)"></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.password.errors">
          <ion-note *ngIf="f.password.errors?.required" color="danger">Mật khẩu không được để trống</ion-note>
          <ion-note *ngIf="f.password.errors?.minlength" color="danger">Mật khẩu quá ngắn (dài hơn 6 ký tự)</ion-note>
        </div>

        <ion-item>
          <ion-label position="floating">Nhập lại mật khẩu *</ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.confirmPassword.errors">
          <ion-note *ngIf="f.confirmPassword.errors?.required" color="danger">Không được để trống phần này</ion-note>
          <ion-note *ngIf="f.confirmPassword.errors?.mustMatch" color="danger">Chưa khớp với mật khẩu</ion-note>
        </div>
        <br />
        <ion-button expand="full" type="submit">Đăng ký</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>