<style>
  .background-main {
    --background: #f9f9f9;
  }

  ion-card {
    --background: #ffffff;
  }
</style>

<ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <br />
    <ion-row style="text-align: center;">
      <ion-col size="3">
        <ion-label>Carbs</ion-label>
        <circle-progress [percent]="85" [radius]="100" [showSubtitle]="true" [subtitle]="progressText"
          [title]="titleCarbs"></circle-progress>
      </ion-col>
      <ion-col size="3">
        <ion-label>Fat</ion-label>
        <circle-progress [percent]="80" [radius]="100" [showSubtitle]="true" [subtitle]="progressText"
          [title]="titleFat"></circle-progress>
      </ion-col>
      <ion-col size="3">
        <ion-label>Protein</ion-label>
        <circle-progress [percent]="65" [radius]="100" [showSubtitle]="true" [subtitle]="progressText"
          [title]="titleProtein"></circle-progress>
      </ion-col>
      <ion-col size="3">
        <ion-label>Calories</ion-label>
        <circle-progress [percent]="90" [radius]="100" [showSubtitle]="true" [subtitle]="progressCalo"
          [title]="titleCalo" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
          [titleColor]="'#78C000'"></circle-progress>
      </ion-col>
    </ion-row>
    <br />
  </ion-toolbar>
</ion-header>

<ion-content class="background-main">
  <ion-card *ngFor="let food of foods">
    <ion-card-header>
      <ion-card-title>
        <!-- Bữa sáng -->
        <span item-left>{{ food['title'] }}</span>
        <span item-right>
          <div style="float: right;">
            72 kcal
          </div>
        </span>
      </ion-card-title>

    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <!-- Multi-line sliding item with icon options on both sides -->
        <ion-item-sliding *ngFor="let item of food['data']" id="{{ item['id'] }}">
          <ion-item href="food">
            <ion-label>
              <h2>{{ item['name'] }}</h2>
              <p>{{ item['quantity'] }} {{ item['unit'] }}</p>
            </ion-label>
            <ion-note slot="end" style="font-size: 14px;">
              {{ item['quantity'] * item['kcal'] }}
            </ion-note>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <ion-button color="danger" fill="clear">
        Thêm đồ ăn
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>