<style>
  .background-main {
    --background: #f9f9f9;
  }

  ion-card {
    --background: #ffffff;
  }
</style>

<ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
  <ion-toolbar>

    <ion-row>
      <ion-col size="3" style="text-align: right;">
        <ion-button color="danger" fill="clear" (click)="preDay($event)">
          <ion-icon slot="icon-only" name="arrow-dropleft"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6" style="text-align: center;">
        <ion-datetime [value]="date" placeholder="Select Date"
          dayShortNames="Thứ hai, Thứ ba, Thứ tư, Thứ năm, Thứ sáu, Thứ bảy, Chủ nhật " displayFormat="DDD, DD/MM/YYYY"
          style="margin-top: 6px;">
        </ion-datetime>
      </ion-col>
      <ion-col size="3" style="text-align: left;">
        <ion-button color="danger" fill="clear" (click)="nextDay($event)">
          <ion-icon slot="icon-only" name="arrow-dropright"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;" *ngIf="isLoaded">
      <ion-col size="3">
        <ion-label>Carbs</ion-label>
        <circle-progress [percent]="perCarbs" [radius]="100" [showSubtitle]="true" [subtitle]="progressText"
          [title]="titleCarbs"></circle-progress>
      </ion-col>
      <ion-col size="3">
        <ion-label>Fat</ion-label>
        <circle-progress [percent]="perFat" [radius]="100" [showSubtitle]="true" [subtitle]="progressText"
          [title]="titleFat"></circle-progress>
      </ion-col>
      <ion-col size="3">
        <ion-label>Protein</ion-label>
        <circle-progress [percent]="perProtein" [radius]="100" [showSubtitle]="true" [subtitle]="progressText"
          [title]="titleProtein"></circle-progress>
      </ion-col>
      <ion-col size="3">
        <ion-label>Calories</ion-label>
        <circle-progress [percent]="perCalo" [radius]="100" [showSubtitle]="true" [subtitle]="progressCalo"
          [title]="titleCalo" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
          [titleColor]="'#78C000'"></circle-progress>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;" *ngIf="!isLoaded">
      <ion-col size="12">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
    <br />
  </ion-toolbar>
</ion-header>

<ion-content class="background-main">

  <div *ngIf="isLoaded">
    <ion-card *ngFor="let food of foods">
      <ion-card-header>
        <ion-card-title>
          <!-- Bữa sáng -->
          <span item-left>{{ food['title'] }}</span>
          <span item-right>
            <div style="float: right;">
              {{ sum_cal(food['data']) }} cal
            </div>
          </span>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <!-- Multi-line sliding item with icon options on both sides -->
          <ion-item-sliding *ngFor="let item of food['data']" id="{{ item['id'] }}">
            <ion-item (click)="clickFood(item['id'])">
              <ion-label>
                <h2>{{ item['name'] }}</h2>
                <p>{{ item['quantity'] }} {{ item['unit'] }}</p>
              </ion-label>
              <ion-note slot="end" style="font-size: 16px;">
                {{ item['quantity'] * item['kcal'] }}
              </ion-note>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="danger">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
        <ion-button color="danger" fill="clear">
          Thêm đồ ăn
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="!isLoaded">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <!-- Bữa sáng -->
          <span item-left>
            <ion-skeleton-text animated style="width: 40%; height: 22px"></ion-skeleton-text>
          </span>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <!-- Multi-line sliding item with icon options on both sides -->
          <ion-item-sliding>
            <ion-item>
              <ion-label>
                <h2><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></h2>
                <p><ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text></p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>
              <ion-item>
                <ion-label>
                  <h2><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></h2>
                  <p><ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text></p>
                </ion-label>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option color="danger">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>

            <ion-item-sliding>
                <ion-item>
                  <ion-label>
                    <h2><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></h2>
                    <p><ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text></p>
                  </ion-label>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option color="danger">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
          
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>