<style>
  .background-main {
    --background: #f9f9f9;
  }

  ion-card {
    --background: #ffffff;
  }

  .center-height {
    position: relative;
    top: 20%;
    transform: translateY(-20%);
  }

  .white-text {
    color: #ffffff;
  }

  .color-toolbar {
    --background: #f04141;
  }
</style>

<ion-header>
  <!-- <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar> -->
  <ion-toolbar class="color-toolbar white-text">
    <ion-row>
      <ion-col size="3" style="text-align: right;">
        <ion-button color="light" fill="clear" (click)="preDay($event)">
          <ion-icon slot="icon-only" name="arrow-dropleft"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="5" style="text-align: center;">
        <ion-datetime [(ngModel)]="date" placeholder="Select Date"
          dayShortNames="Chủ nhật, Thứ hai, Thứ ba, Thứ tư, Thứ năm, Thứ sáu, Thứ bảy" displayFormat="DDD, DD/MM/YYYY"
          style="margin-top: 6px;" (ngModelChange)="changeDate($event)">
        </ion-datetime>
      </ion-col>
      <ion-col size="3" style="text-align: left;">
        <ion-button color="light" fill="clear" (click)="nextDay($event)">
          <ion-icon slot="icon-only" name="arrow-dropright"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="1">
        <ion-button color="light" (click)="showOption()" style="float: right" fill="clear">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="display: none;">
      <ion-col size="12">
        <ion-item>
          <ion-label>Giao diện chỉ số</ion-label>
          <ion-select [(ngModel)]="optionStatus" #optionDashboard>
            <ion-select-option value="calorie">Calorie</ion-select-option>
            <ion-select-option value="macro">Macronutrients</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- Style dashboard calorie -->
    <ion-row style="text-align: center;" *ngIf="optionStatus == 'calorie' && isLoaded">
      <ion-col size="2">
        <h5 style="font-weight: bold">{{ target['calo'] }}</h5>
        <p>Mục tiêu</p>
      </ion-col>
      <ion-col size="1">
        <h5 class="center-height">-</h5>
      </ion-col>
      <ion-col size="2">
        <h5 style="font-weight: bold">{{ titleCalo }}</h5>
        <p>Đồ ăn</p>
      </ion-col>
      <ion-col size="1">
        <h5 class="center-height">+</h5>
      </ion-col>
      <ion-col size="2">
        <h5 style="font-weight: bold">{{ titleExercise }}</h5>
        <p>Bài tập</p>
      </ion-col>
      <ion-col size="1">
        <h5 class="center-height">=</h5>
      </ion-col>
      <ion-col size="3">
        <h5 style="font-weight: bold">{{ 1*target['calo'] - 1*titleCalo + 1*titleExercise }}</h5>
        <p>Còn lại</p>
      </ion-col>
    </ion-row>
    <!-- Style dashboard macro -->
    <ion-row style="text-align: center;" *ngIf="optionStatus == 'macro' && isLoaded">
      <ion-col size="3">
        <ion-label>Carbs</ion-label>
        <circle-progress [percent]="perCarbs" [radius]="100" [showSubtitle]="true" [subtitle]="progressText"
          [title]="titleCarbs" [titleColor]="'#FFFFFF'"></circle-progress>
      </ion-col>
      <ion-col size="3">
        <ion-label>Fat</ion-label>
        <circle-progress [percent]="perFat" [radius]="100" [showSubtitle]="true" [subtitle]="progressText"
          [title]="titleFat" [titleColor]="'#FFFFFF'"></circle-progress>
      </ion-col>
      <ion-col size="3">
        <ion-label>Protein</ion-label>
        <circle-progress [percent]="perProtein" [radius]="100" [showSubtitle]="true" [subtitle]="progressText"
          [title]="titleProtein" [titleColor]="'#FFFFFF'"></circle-progress>
      </ion-col>
      <ion-col size="3">
        <ion-label>Calories</ion-label>
        <circle-progress [percent]="perCalo" [radius]="100" [showSubtitle]="true" [subtitle]="progressCalo"
          [title]="titleCalo" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
          [titleColor]="'#78C000'"></circle-progress>
      </ion-col>
    </ion-row>
    <!-- Loading -->
    <ion-row style="text-align: center;" *ngIf="!isLoaded">
      <ion-col size="12">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
    <br />
  </ion-toolbar>
</ion-header>

<ion-content class="background-main">
  <div *ngIf="isLoaded">
    <ion-datetime  #datePicker displayFormat="DDD, DD/MM/YYYY" [(ngModel)]="dateCopy" style="display: none;" [pickerOptions]="customOptions"></ion-datetime>
    <ion-card *ngFor="let food of foods">
      <ion-card-header data-toggle="collapse" attr.data-target="#{{food['key']}}">
        <ion-card-title>
          <!-- Bữa sáng -->
          <span item-left style="font-weight: bold">
            {{ food['title'] }}
            <i style="font-weight: normal; font-size: 12px;">(đã chọn {{ food['data'].length }})</i>
          </span>
          <span item-right>
            <div style="float: right;">
              {{ sum_cal(food['data']) }} cal
            </div>
          </span>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content [id]="food['key']" class="collapse">
        <ion-list>
          <!-- Multi-line sliding item with icon options on both sides -->
          <ion-item-sliding *ngFor="let item of food['data']" id="{{ item['food_id'] }}">
            <ion-item (click)="clickFood(item['food_id'], item['meal_detail_id'], item['meal_quantity'])">
              <ion-label>
                <h2>{{ item['food_name'] }}</h2>
                <p>{{ item['meal_quantity'] }} {{ item['unit'] }}</p>
              </ion-label>
              <ion-note slot="end" style="font-size: 16px;">
                {{ item['meal_quantity'] / item['quantity'] * item['calories'] }}
              </ion-note>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="removeFoodInMenu(item['meal_detail_id'], food['key'])">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-card-content>
      <ion-row class="cardfooter">
        <ion-col size="12">
            <ion-button color="danger" fill="clear" (click)="addFoods(food['key'])">
                Thêm đồ ăn
                <ion-icon slot="start" name="add-circle-outline"></ion-icon>
              </ion-button>
              <ion-button style="float: right;" fill="clear" (click)="onCopy(food['key'])">
                Sao chép
              </ion-button>
        </ion-col>
        
      </ion-row>
    </ion-card>
    <!-- Phần bài tập  -->
    <ion-card>
        <ion-card-header data-toggle="collapse" data-target="#excercise">
          <ion-card-title>
            <!-- Bữa sáng -->
            <span item-left style="font-weight: bold">
              Bài tập
              <i style="font-weight: normal; font-size: 12px;">(đã chọn {{ execise.length }} )</i>
            </span>
            <!-- <span item-right>
              <div style="float: right;">
                đốt {{ titleExercise }} cal
              </div>
            </span> -->
          </ion-card-title>
        </ion-card-header>
        <ion-card-content id="excercise" class="collapse">
          <ion-list>
            <!-- Multi-line sliding item with icon options on both sides -->
            <ion-item-sliding *ngFor="let item of execise" [id]="item['exercise_id']">
              <ion-item (click)="clickExercise(item['exercise_id'])">
                <ion-label>
                  <h2>{{ item['exercise_name'] }}</h2>
                  <p>set {{ item['index_of_sets'] }}, reps {{ item['repetitions'] }}, {{ item['weight_per_set'] }} kg</p>
                </ion-label>
                <ion-note slot="end" style="font-size: 16px;">
                  {{ item['calories_burn'] }}
                </ion-note>
              </ion-item>
  
              <ion-item-options side="end">
                <ion-item-option color="danger" (click)="removeExerciseInMenu(item['exercise_detail_id'])">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-card-content>
        <ion-row class="cardfooter">
          <ion-button color="danger" fill="clear" (click)="addFoods('exercise')">
            Thêm bài tập
            <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-card>
  </div>
  <div *ngIf="!isLoaded">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <!-- Bữa sáng -->
          <span item-left>
            <ion-skeleton-text animated style="width: 40%; height: 22px"></ion-skeleton-text>
          </span>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <!-- Multi-line sliding item with icon options on both sides -->
          <ion-item-sliding>
            <ion-item>
              <ion-label>
                <h2>
                  <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
                </h2>
                <p>
                  <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>
            <ion-item>
              <ion-label>
                <h2>
                  <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
                </h2>
                <p>
                  <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>
            <ion-item>
              <ion-label>
                <h2>
                  <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
                </h2>
                <p>
                  <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<script></script>