<style>
  ion-tab-button {
    --color-selected: #f04141;
  }

  .white-text {
    color: #ffffff;
  }

  .color-toolbar {
    --background: #f04141;
  }
</style>
<!-- <ion-header>
  <ion-toolbar class="white-text color-toolbar">
    <ion-title><b>healthy</b></ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-badge color="danger">
          11
        </ion-badge>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="progress">
      <ion-icon name="podium"></ion-icon>
      <ion-label>Tiến triển</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="menu">
      <ion-icon name="home"></ion-icon>
      <ion-label>Thực đơn</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      <ion-badge color="danger">99</ion-badge>
      <ion-label>Thông báo</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="more">
      <ion-icon name="menu"></ion-icon>
      <ion-label>Thêm</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>