<style>
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .white-text {
    color: #ffffff;
  }

  .color-toolbar {
    --background: #f04141;
  }
</style>

<ion-header>
  <ion-toolbar class="color-toolbar white-text">
    <ion-title>Cài đặt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-item (click)="onClickProfile()">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>
              Thông tin cá nhân
          </ion-label>
        </ion-item>

        <ion-item (click)="onClickGoal()">
          <ion-icon name="flag" slot="start"></ion-icon>
          <ion-label>
            Mục tiêu
          </ion-label>
        </ion-item>

        <!-- <ion-item>
          <ion-icon name="pie" slot="start"></ion-icon>
          <ion-label>
            Dinh dưỡng
          </ion-label>
        </ion-item> -->

        <ion-item (click)="onClickRemind()">
          <ion-icon name="alarm" slot="start"></ion-icon>
          <ion-label>
            Nhắc nhở
          </ion-label>
        </ion-item>

        <ion-item (click)="clickLogout()">
          <ion-icon name="power" slot="start"></ion-icon>
          <ion-label>
            Đăng xuất
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-col>
  </ion-row>


</ion-content>