<style>
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .white-text {
    color: #ffffff;
  }

  .color-toolbar {
    --background: #f04141;
  }
</style>

<ion-header>
  <ion-toolbar class="">
    <ion-title>Tài khoản</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-avatar slot="end">
        <img [src]="avatar">
      </ion-avatar>
      <ion-label>
        <h3>{{ fullname }}</h3>
        <p>{{ email }}</p>
        <p style="color: #3880ff" (click)="onClickProfile()">Quản lý tài khoản</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col size="12">
      <ion-list lines="none">
        <ion-item (click)="onClickGoal()">
          <ion-icon name="flag" slot="start"></ion-icon>
          <ion-label>
            Mục tiêu
          </ion-label>
        </ion-item>

        <ion-item (click)="onClickRemind()">
          <ion-icon name="alarm" slot="start"></ion-icon>
          <ion-label>
            Nhắc nhở
          </ion-label>
        </ion-item>

        <ion-item (click)="onAddFriend()">
          <ion-icon name="person-add" slot="start"></ion-icon>
          <ion-label>
            Lời mời kết bạn
          </ion-label>
          <ion-badge *ngIf="countRequest > 0">{{ countRequest }}</ion-badge>
        </ion-item>

      </ion-list>
    </ion-col>
  </ion-row>


</ion-content>

<ion-footer style="text-align: center">
  <ion-button (click)="clickLogout()" expand="full" color="danger" fill="clear">
      <ion-icon slot="start" name="power"></ion-icon>
      Đăng xuất
    </ion-button>
</ion-footer>