<style>
  .background-main {
    --background: #f9f9f9;
  }

  ion-card {
    --background: #ffffff;
  }

  .weight-text-detail {
    color: #000000;
  }

  .title-text-detail {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
  }

  .white-text {
    color: #ffffff;
  }

  .color-toolbar {
    --background: #f04141;
  }
</style>
<ion-header>
  <ion-toolbar class="color-toolbar white-text">
    <ion-title>Thông báo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-main">
  <h1 style="text-align: center; color: #969696; margin-top: 50%" *ngIf="data.length == 0">Chưa có thông báo</h1>
  <div *ngIf="data.length != 0">
    <ion-card *ngFor="let item of data">
      <ion-card-header>
        <!-- <ion-card-subtitle>
          1 phút trước
        </ion-card-subtitle> -->
        <ion-card-title>
          <ion-icon name="notifications" style="background-color: #f04141; border-radius: 50%; padding: 5px; color: #ffffff"></ion-icon> {{ item.title }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ item.message }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>