<style>
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .white-text {
    color: #ffffff;
  }

  .color-toolbar {
    --background: #f04141;
  }

  .background-main {
    --background: #f9f9f9;
  }

  .background-white {
    --background: #ffffff;
  }

  .input-custom {
    --background: #efd5d5;
    --border-radius: 5px;
    --border-width: 0 0 0 0;
    --highlight-color-focused: none;
  }

  .red-text {
    color: #f04141
  }

  .dark-red-text {
    color: #5b0d0d;
  }
</style>
<ion-header>
  <ion-toolbar class="white-text color-toolbar">
    <ion-title>Điền thông tin</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" class="white-text"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background-main">
  <ion-row>
    <ion-col size="12">
      <ion-card class="background-white">
        <ion-card-content>
          <ion-row>
            <ion-col size="12">
              <ion-item class="input-custom">
                <ion-icon class="dark-red-text" name="person" slot="start"></ion-icon>
                <ion-input placeholder="Họ và tên" clearInput [(ngModel)]="fullname"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Giới tính</ion-label>
                <ion-select [(ngModel)]="gender">
                  <ion-select-option value="male">Nam</ion-select-option>
                  <ion-select-option value="female">Nữ</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Ngày sinh</ion-label>
                <ion-datetime [(ngModel)]="birthday" displayFormat="DD - MM - YYYY" min="{{ minYear }}" max="{{ maxYear }}"></ion-datetime>
              </ion-item>
            </ion-col>
            <!-- <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input inputmode="email" clearInput [(ngModel)]="email"></ion-input>
              </ion-item>
            </ion-col> -->
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Số điện thoại (+84)</ion-label>
                <!-- <ion-label position="fixed">+84</ion-label> -->
                <ion-input type="number" clearInput [(ngModel)]="phone"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12">
      <ion-text class="red-text">
        <h1 style="margin: 10px 10px 0px 10px">
          <ion-icon class="dark-red-text" name="body"></ion-icon> Chỉ Số Cơ Thể
        </h1>
      </ion-text>
    </ion-col>

    <ion-col size="12">
      <ion-card class="background-white">
        <ion-card-content>
          <ion-item>
            <ion-label>Cân nặng</ion-label>
            <ion-input type="number" [(ngModel)]="weight" style="text-align: right"></ion-input>
            <ion-note slot="end">kg</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Chiều cao</ion-label>
            <ion-input type="number" [(ngModel)]="height" style="text-align: right"></ion-input>
            <ion-note slot="end">m</ion-note>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar class="white-text color-toolbar" (click)="clickTarget()">
    <ion-title style="text-align: center;">Tiếp tục</ion-title>
  </ion-toolbar>
</ion-footer>